src/main/mule/implementation/login-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="login-implementationFlow" doc:id="59870767-9ad1-4952-ac5f-8f341d1c27af" >
		<set-variable value='#[now() &gt;&gt; "UTC"]' doc:name="Set Variable" doc:id="4a99996c-980a-4f7c-9400-54ccd31ef704" variableName="start" />
		<ee:transform doc:name="Transform Message" doc:id="f51e538d-2912-41b8-9824-65dbb26e13e4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::yoni::Hash
---
{
	email: vars.requestData.payload.email,
	password: Hash::hashPassword(vars.requestData.payload.password)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SFDC Request Logger" doc:id="ab5e55ed-bdc1-48c0-86a9-782fdd5b7fbe" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Request salesforce&quot;&#10;}]" />
		<salesforce:query doc:name="Query" doc:id="a9fdd85c-b385-452a-8d0e-81ec6f158a22" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT password__c, email__c 
FROM CustomerONB__c 
WHERE password__c= ':password' AND email__c = ':email']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	email: payload.email,
	password : payload.password
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="SFDC Response Logger" doc:id="43f5ceef-b471-4527-8520-ac1938f106fb" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;process API&quot;,&#10;    DestinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Response salesforce&quot;&#10;}]" />
		<ee:transform doc:name="Transform Message" doc:id="47c9ff9d-9b0e-444c-88b4-ff1d43964821">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	password: payload[0].password__c,
	email: payload[0].email__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-errorError_Handler" />
	</flow>
</mule>
