src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    
    <flow name="api-main">
        <http:listener config-ref="registration-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" doc:id="37523bfe-2891-4eab-9678-3264def3c005"/>
		<error-handler ref="global-errorError_Handler" />
       
    </flow>
    <flow name="api-console">
        <http:listener config-ref="registration-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-errorError_Handler" />
        
    </flow>
    <flow name="put:\customers\reset\password:application\json:api-config">
        <flow-ref doc:name="Flow Reference" doc:id="6a5a0ffa-58d4-41dd-8d0f-0f31022ce576" name="initialize-request-data" />
		<logger level="INFO" doc:name="Logger" doc:id="d331fea3-32cc-442e-ab0f-32baf83fb9bb" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Reset password system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START reset password system process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="838ecf2f-0547-480e-9b54-1f3c37b72ace" name="password-reset-implementationFlow" />
		<logger level="INFO" doc:name="Logger" doc:id="8489ed60-3dbd-4c01-8d1c-2a3083250c67" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registrations&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Reset password system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END reset password system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    
    </flow>
    <flow name="delete:\customers\delete:application\json:api-config">
       <flow-ref doc:name="Flow Reference" doc:id="cc0a3adf-73a6-4284-90bc-68593b03cae6" name="initialize-request-data" />
		<logger level="INFO" doc:name="Logger" doc:id="8c817737-a960-4c54-84b2-0d2035df147d" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Delete system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START delete system process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="acb8d559-a290-4d50-89f7-e2962866f3c2" name="delete-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="3db46900-f9ce-406c-afce-ebf24a3acb29" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customers Registrations&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Delete system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END delete system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="get:\customers\data:api-config">
		<flow-ref doc:name="Flow Reference" doc:id="6b9d7567-0256-4433-a263-7d75f3cb7145" name="initialize-request-data" />
		<logger level="INFO" doc:name="Logger" doc:id="ad40b7b5-6da0-4ccd-b4bb-478e621f8736" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Get data system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START get data system process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="2367bbe7-b52d-461c-8135-12479482149d" name="get-data-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="44c9aeb2-1ec8-408a-9c0b-1351ea3b6919" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Get data system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END get data system process&quot;&#10;}]" />
    </flow>
    <flow name="get:\ping:api-config">
       <flow-ref doc:name="Flow Reference" doc:id="6ab0c8fa-e25a-49dd-8129-50765760d707" name="initialize-request-data"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="0ae639cd-aefa-46e8-a6c1-98debd8d704a" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;NA&quot;,&#10;    DestinationApplication: &quot;Health Check&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START&quot;&#10;}]" />
		<ee:transform doc:name="Health Check" doc:id="bad1a430-4561-48c7-9b1c-8ccac01baef8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		"eventInstanceId" : attributes.headers.'x-vio-transactionId',
		"status" : "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="1f602d63-0c52-4624-98c0-145d81fd7728" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10; OriginatingApplication: &quot;NA&quot;,&#10;    DestinationApplication: &quot;Health Check&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\database:application\json:api-config">
		<flow-ref doc:name="Flow Reference" doc:id="40bd2836-ca05-456a-8c72-1e821217b744" name="initialize-request-data" />
		<logger level="INFO" doc:name="Logger" doc:id="e53e09c8-1066-426b-879f-fda482592d9c" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Database&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START Database process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="df95d83b-3228-44c2-b812-37078d7f0ffe" name="database-insert-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="31f4d768-7693-430a-a6ee-cac705b7a474" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStam: (now() &gt;&gt; &quot;UTC&quot;)[0 to 18],&#10;	TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;	TransactionId: attributes.headers.'x-vio-transactionid',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: &quot;Customer Registration&quot;,&#10;	Category: &quot;Customer&quot;,&#10;	OriginatingApplication: &quot;Process API&quot;,&#10;	DestinationApplication: &quot;Database&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	TxnState: &quot;END database insert process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\login:application\json:api-config">
        <flow-ref doc:name="Flow Reference" doc:id="28649563-215b-4a7d-a1b2-17fdc6a7a987" name="initialize-request-data" />
		<logger level="INFO" doc:name="Start Logger" doc:id="ffe033e2-2cc6-41f1-97b9-c6d4ec9af6b4" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Login proces&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START login process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="a5fd8d0f-bf84-414f-9c14-63ac829ebdc8" name="login-implementationFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="71f1c8fa-042e-4d91-b2fc-c661f3cdda93" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;   OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;Login process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END login system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\notifications:application\json:api-config">
        <flow-ref doc:name="Flow Reference" doc:id="0ce93de5-79bb-4189-bc4c-f50e69237780" name="initialize-request-data" />
		<logger level="INFO" doc:name="Start Logger" doc:id="f57dc13d-b13d-41c0-9321-9a6d6d580ba3" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Notification API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START notification process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="5fa83401-334b-4685-9022-9d0ea35cc972" name="notification-implementationFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="99138deb-6426-4091-b3f7-765308f89686" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;   OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;Notification API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END notification system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\registration:application\json:api-config">
       <flow-ref doc:name="Flow Reference" doc:id="40e15daf-d333-423a-80e3-0ec6c6592ec9" name="initialize-request-data" />
		<logger level="INFO" doc:name="Start Logger" doc:id="8f337c90-cf2d-4e93-9337-12f7410d742a" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Salesforce and DB&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START registration process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="eb345472-2b26-47b8-af4a-28d0b93b8e88" name="registration-implementationFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="72aea311-2ea0-4663-83cc-2a5a4c3a1765" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;   OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;Salesforce and DB&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END registration system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="post:\customers\reset:application\json:api-config">
       <flow-ref doc:name="Flow Reference" doc:id="f6cadf64-f01c-4f28-8f53-829a14eaf579" name="initialize-request-data" />
		<logger level="INFO" doc:name="Logger" doc:id="d555f823-91b1-4b6b-953b-cda0dce0500e" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;reset system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START reset system process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="b2d422cc-38fb-41bc-a826-472e74b210a0" name="reset-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f660a283-64b0-4aad-b692-f28cc24bc1bb" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Reset system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END reset system process&quot;&#10;}]" />
    </flow>
    <flow name="post:\customers\verify:application\json:api-config">
       <flow-ref doc:name="Flow Reference" doc:id="e8fc3c17-80ef-482c-becd-772d261697a1" name="initialize-request-data" />
		<logger level="INFO" doc:name="Start Logger" doc:id="a3dfac4a-f4e1-493c-be73-332e48a17b6c" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: vars.startTime,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Verify system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;START Verify system process&quot;&#10;}]" />
		<flow-ref doc:name="Flow Reference" doc:id="154364f6-6160-466b-b52f-8374cbb0d035" name="verify-implementationFlow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="31a1c6d8-31ad-4c8c-b9e1-06dc23d5f151" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.startTime,&#10;    TransactionId: attributes.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Verify system process&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;END verify system process&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
</mule>
